Repository yosbd117/windows-event-generator-tvwfhl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @core-team, @security-team, @data-team, @ui-team, @qa-team, @devops-team, @docs-team

.github/CODEOWNERS:

*                                               @project-leads

# Core event simulation engine - requires core and security review
src/windows/EventSimulator.Core/**              @core-team @security-team

# Common utilities and shared components
src/windows/EventSimulator.Common/**            @core-team

# Data access layer - requires database and security expertise
src/windows/EventSimulator.Data/**              @data-team @security-team

# User interface components
src/windows/EventSimulator.UI/**                @ui-team

# Test suites and testing infrastructure
src/windows/EventSimulator.Tests/**             @qa-team

# CI/CD workflows - requires DevOps and security review
.github/workflows/**                            @devops-team @security-team

# Infrastructure and deployment configurations
infrastructure/**                               @devops-team @security-team

# Event templates and scenarios - requires security expertise
src/windows/templates/**                        @security-team

# Documentation files
*.md                                           @docs-team

# Security-critical paths requiring mandatory security review
src/windows/EventSimulator.Core/Security/**     @security-team
src/windows/EventSimulator.Common/Security/**   @security-team
infrastructure/kubernetes/secrets.yaml          @security-team @devops-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/global.json
  src/windows/global.json
Owners: @project-leads

Add public-samples/windows-event-generator-tvwfhl/src/windows/nuget.config
  src/windows/nuget.config
Owners: @project-leads

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Common/EventSimulator.Common.csproj
  src/windows/EventSimulator.Common/EventSimulator.Common.csproj
Owners: @core-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Common/Configuration/AppSettings.cs
  src/windows/EventSimulator.Common/Configuration/AppSettings.cs
Owners: @core-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Common/Configuration/DatabaseSettings.cs
  src/windows/EventSimulator.Common/Configuration/DatabaseSettings.cs
Owners: @core-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Common/Extensions/EventLogExtensions.cs
  src/windows/EventSimulator.Common/Extensions/EventLogExtensions.cs
Owners: @core-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Common/Extensions/SecurityExtensions.cs
  src/windows/EventSimulator.Common/Extensions/SecurityExtensions.cs
Owners: @core-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Common/Logging/LoggerConfiguration.cs
  src/windows/EventSimulator.Common/Logging/LoggerConfiguration.cs
Owners: @core-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Common/Security/WindowsAuthenticationProvider.cs
  src/windows/EventSimulator.Common/Security/WindowsAuthenticationProvider.cs
Owners: @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/EventSimulator.Core.csproj
  src/windows/EventSimulator.Core/EventSimulator.Core.csproj
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Constants/EventLogChannels.cs
  src/windows/EventSimulator.Core/Constants/EventLogChannels.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Constants/EventLogLevels.cs
  src/windows/EventSimulator.Core/Constants/EventLogLevels.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Constants/SecurityEventIds.cs
  src/windows/EventSimulator.Core/Constants/SecurityEventIds.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Constants/SystemEventIds.cs
  src/windows/EventSimulator.Core/Constants/SystemEventIds.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Interfaces/IEventGenerator.cs
  src/windows/EventSimulator.Core/Interfaces/IEventGenerator.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Interfaces/IEventValidator.cs
  src/windows/EventSimulator.Core/Interfaces/IEventValidator.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Interfaces/IScenarioManager.cs
  src/windows/EventSimulator.Core/Interfaces/IScenarioManager.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Interfaces/ITemplateManager.cs
  src/windows/EventSimulator.Core/Interfaces/ITemplateManager.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Models/EventInstance.cs
  src/windows/EventSimulator.Core/Models/EventInstance.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Models/EventParameter.cs
  src/windows/EventSimulator.Core/Models/EventParameter.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Models/EventTemplate.cs
  src/windows/EventSimulator.Core/Models/EventTemplate.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Models/ScenarioDefinition.cs
  src/windows/EventSimulator.Core/Models/ScenarioDefinition.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Models/ScenarioEvent.cs
  src/windows/EventSimulator.Core/Models/ScenarioEvent.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Services/EventGeneratorService.cs
  src/windows/EventSimulator.Core/Services/EventGeneratorService.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Services/EventValidatorService.cs
  src/windows/EventSimulator.Core/Services/EventValidatorService.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Services/ScenarioManagerService.cs
  src/windows/EventSimulator.Core/Services/ScenarioManagerService.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Services/TemplateManagerService.cs
  src/windows/EventSimulator.Core/Services/TemplateManagerService.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Utils/EventXmlGenerator.cs
  src/windows/EventSimulator.Core/Utils/EventXmlGenerator.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Utils/SecurityUtils.cs
  src/windows/EventSimulator.Core/Utils/SecurityUtils.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Core/Utils/WindowsEventLogApi.cs
  src/windows/EventSimulator.Core/Utils/WindowsEventLogApi.cs
Owners: @core-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Data/EventSimulator.Data.csproj
  src/windows/EventSimulator.Data/EventSimulator.Data.csproj
Owners: @data-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Data/Configurations/EventConfiguration.cs
  src/windows/EventSimulator.Data/Configurations/EventConfiguration.cs
Owners: @data-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Data/Configurations/ScenarioConfiguration.cs
  src/windows/EventSimulator.Data/Configurations/ScenarioConfiguration.cs
Owners: @data-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Data/Configurations/TemplateConfiguration.cs
  src/windows/EventSimulator.Data/Configurations/TemplateConfiguration.cs
Owners: @data-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Data/Context/EventSimulatorDbContext.cs
  src/windows/EventSimulator.Data/Context/EventSimulatorDbContext.cs
Owners: @data-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Data/Migrations/InitialCreate.cs
  src/windows/EventSimulator.Data/Migrations/InitialCreate.cs
Owners: @data-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Data/Repositories/EventRepository.cs
  src/windows/EventSimulator.Data/Repositories/EventRepository.cs
Owners: @data-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Data/Repositories/ScenarioRepository.cs
  src/windows/EventSimulator.Data/Repositories/ScenarioRepository.cs
Owners: @data-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Data/Repositories/TemplateRepository.cs
  src/windows/EventSimulator.Data/Repositories/TemplateRepository.cs
Owners: @data-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.Tests/EventSimulator.Tests.csproj
  src/windows/EventSimulator.Tests/EventSimulator.Tests.csproj
Owners: @qa-team
