Repository yosbd117/windows-event-generator-tvwfhl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @core-team, @security-team, @data-team, @ui-team, @qa-team, @devops-team, @docs-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.UI/Views/TemplateManagerView.xaml.cs
  src/windows/EventSimulator.UI/Views/TemplateManagerView.xaml.cs
Owners: @ui-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/scripts/build.ps1
  src/windows/scripts/build.ps1
Owners: @project-leads

Add public-samples/windows-event-generator-tvwfhl/src/windows/scripts/install.ps1
  src/windows/scripts/install.ps1
Owners: @project-leads

Add public-samples/windows-event-generator-tvwfhl/src/windows/scripts/package.ps1
  src/windows/scripts/package.ps1
Owners: @project-leads

Add public-samples/windows-event-generator-tvwfhl/src/windows/scripts/test.ps1
  src/windows/scripts/test.ps1
Owners: @project-leads

Add public-samples/windows-event-generator-tvwfhl/src/windows/templates/ApplicationEvents.json
  src/windows/templates/ApplicationEvents.json
Owners: @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/templates/MitreAttackScenarios.json
  src/windows/templates/MitreAttackScenarios.json
Owners: @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/templates/SecurityEvents.json
  src/windows/templates/SecurityEvents.json
Owners: @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/templates/SystemEvents.json
  src/windows/templates/SystemEvents.json
Owners: @security-team

.github/CODEOWNERS:

*                                               @project-leads

# Core event simulation engine - requires core and security review
src/windows/EventSimulator.Core/**              @core-team @security-team

# Common utilities and shared components
src/windows/EventSimulator.Common/**            @core-team

# Data access layer - requires database and security expertise
src/windows/EventSimulator.Data/**              @data-team @security-team

# User interface components
src/windows/EventSimulator.UI/**                @ui-team

# Test suites and testing infrastructure
src/windows/EventSimulator.Tests/**             @qa-team

# CI/CD workflows - requires DevOps and security review
.github/workflows/**                            @devops-team @security-team

# Infrastructure and deployment configurations
infrastructure/**                               @devops-team @security-team

# Event templates and scenarios - requires security expertise
src/windows/templates/**                        @security-team

# Documentation files
*.md                                           @docs-team

# Security-critical paths requiring mandatory security review
src/windows/EventSimulator.Core/Security/**     @security-team
src/windows/EventSimulator.Common/Security/**   @security-team
infrastructure/kubernetes/secrets.yaml          @security-team @devops-team
