Repository yosbd117/windows-event-generator-tvwfhl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @core-team, @security-team, @data-team, @ui-team, @qa-team, @devops-team, @docs-team

.github/CODEOWNERS:

*                                               @project-leads

# Core event simulation engine - requires core and security review
src/windows/EventSimulator.Core/**              @core-team @security-team

# Common utilities and shared components
src/windows/EventSimulator.Common/**            @core-team

# Data access layer - requires database and security expertise
src/windows/EventSimulator.Data/**              @data-team @security-team

# User interface components
src/windows/EventSimulator.UI/**                @ui-team

# Test suites and testing infrastructure
src/windows/EventSimulator.Tests/**             @qa-team

# CI/CD workflows - requires DevOps and security review
.github/workflows/**                            @devops-team @security-team

# Infrastructure and deployment configurations
infrastructure/**                               @devops-team @security-team

# Event templates and scenarios - requires security expertise
src/windows/templates/**                        @security-team

# Documentation files
*.md                                           @docs-team

# Security-critical paths requiring mandatory security review
src/windows/EventSimulator.Core/Security/**     @security-team
src/windows/EventSimulator.Common/Security/**   @security-team
infrastructure/kubernetes/secrets.yaml          @security-team @devops-team

Add public-samples/windows-event-generator-tvwfhl/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @docs-team

Add public-samples/windows-event-generator-tvwfhl/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @docs-team

Add public-samples/windows-event-generator-tvwfhl/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @docs-team

Add public-samples/windows-event-generator-tvwfhl/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/.github/workflows/codeql.yml
  .github/workflows/codeql.yml
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-team

Add public-samples/windows-event-generator-tvwfhl/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-team

Add public-samples/windows-event-generator-tvwfhl/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-team

Add public-samples/windows-event-generator-tvwfhl/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/docker/Dockerfile.eventgenerator
  infrastructure/docker/Dockerfile.eventgenerator
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/docker/Dockerfile.monitoring
  infrastructure/docker/Dockerfile.monitoring
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/docker/Dockerfile.templateservice
  infrastructure/docker/Dockerfile.templateservice
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/kubernetes/config-maps.yaml
  infrastructure/kubernetes/config-maps.yaml
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/kubernetes/event-generator-deployment.yaml
  infrastructure/kubernetes/event-generator-deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/kubernetes/ingress.yaml
  infrastructure/kubernetes/ingress.yaml
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/kubernetes/monitoring-deployment.yaml
  infrastructure/kubernetes/monitoring-deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/kubernetes/secrets.yaml
  infrastructure/kubernetes/secrets.yaml
Owners: @security-team, @devops-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/kubernetes/template-service-deployment.yaml
  infrastructure/kubernetes/template-service-deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/kubernetes/volumes.yaml
  infrastructure/kubernetes/volumes.yaml
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/scripts/backup-restore.ps1
  infrastructure/scripts/backup-restore.ps1
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/scripts/configure-network.ps1
  infrastructure/scripts/configure-network.ps1
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/scripts/init-db.sql
  infrastructure/scripts/init-db.sql
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/scripts/setup-monitoring.ps1
  infrastructure/scripts/setup-monitoring.ps1
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/terraform/modules/aks/main.tf
  infrastructure/terraform/modules/aks/main.tf
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/terraform/modules/aks/variables.tf
  infrastructure/terraform/modules/aks/variables.tf
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/terraform/modules/sql/main.tf
  infrastructure/terraform/modules/sql/main.tf
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/infrastructure/terraform/modules/sql/variables.tf
  infrastructure/terraform/modules/sql/variables.tf
Owners: @devops-team, @security-team

Add public-samples/windows-event-generator-tvwfhl/src/windows/.editorconfig
  src/windows/.editorconfig
Owners: @project-leads

Add public-samples/windows-event-generator-tvwfhl/src/windows/Directory.Build.props
  src/windows/Directory.Build.props
Owners: @project-leads

Add public-samples/windows-event-generator-tvwfhl/src/windows/EventSimulator.sln
  src/windows/EventSimulator.sln
Owners: @project-leads

Add public-samples/windows-event-generator-tvwfhl/src/windows/README.md
  src/windows/README.md
Owners: @docs-team
